* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
}

.fondo{
    background-image: url(/core/static/core/media/fondo.jpg);
}

body {
    font-family: Arial, sans-serif;
    background-color: #50db2e;
    background-image: url(/core/static/core/media/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
}