* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login_container{
    display: inline-block;
    width: 100%;
    padding: 3rem;
}

.login{
    border: 1px solid black;
    max-width: fit-content;
    padding: 1.5rem;
    background-color: #D6CCC2;
    margin: left;
    font-weight: bold;
}