* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulario_container{
    display: inline-block;
    width: 100%;
    padding: 3rem;
}

.formulario{
    border: 1px solid black;
    max-width: fit-content;
    padding: 1.5rem;
    background-color: #D6CCC2;
    margin: auto;
    font-weight: bold;
}

.mainColor{
    background-color: #D5BDAF
}

.secondaryColor{
    background-color: #E3D5CA
}

.terciaryColor{
    background-color: #F5EBE0;
}