{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    <title>Tu Gestion Hotelera - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    {% block extra_css%}{%endblock%}
</head>
<body> 
    {% if messages %} 
    <ul class="messages"> 
        {% for message in messages %} 
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
        {% endfor %} 
    </ul> 
    {% endif %} 
    <header>
        <div class="card text-center">
            <div class="card-header secondaryColor">
                Consegui hoy mismo tu reserva hotelera al mejor precio
            </div>
            <div class="card-body mainColor">
                <h1 class="card-title">Gestion Hotelera</h1>
                <p class="card-text">{% block section_title %} {% endblock %}</p>
            </div>
            <div class="card terciaryColor mb-3">
                <div class="card-body actions">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">Iniciar Sesion</a>
                    {% else %}
                    <p>Bienvenid@ <b>{{user.username}}</b></p>
                    <a class="logout" href="{% url 'logout' %}">Cerrar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid mainColor">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'hotel_alta' %}">Alta Hoteles</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'listado_hotel' %}">Listado Hoteles</a>
                    </li>
                    <!-- {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'reservas' %}">Reservas</a>
                        </li>
                    {% endif %}    -->
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'reservas_alta' %}">Alta de Reservas</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'reservas_listado' %}">Listado de Reservas</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'cliente' %}">Usuarios</a>
                        </li> 
                    {% endif %}                  
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="mainColor">
        {% include "core/footer.html" %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>