{% extends "core/base_project.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'core/css/hotel_alta.css' %}">
{%endblock%}

{% block title %}Alta de Hoteles{% endblock %}
{% block section_title %}Completá el siguiente formulario{% endblock %}
{% block content %}

    <div class="formulario_container">
        <div class="formulario">
            <form method="post" action="{% url 'hotel_alta' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" >
            </form>    
        </div>
    </div>
{% endblock %}