<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de alumnos</title>
</head>
<body>
    <header>
        <h1>Bienvenido {{nombre_usuario}} al aula virtual 2.0</h1>
        <h2>Listado de alumnos</h2>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/aula_virtual/">Home</a></li>
                <li><a href="http://127.0.0.1:8000/aula_virtual/alumnos/listado">Listado de alumnos</a></li>
                <li><a href="http://127.0.0.1:8000/aula_virtual/alumnos/historico/2017/">Historico de alumnos</a></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>2023</h2>
        <ul>
            <li>
                <p>Nombre:</p>
                <p>Apellido:</p>
                <p>Curso:</p>
            </li>
        </ul>
    </main>
    
</body>
</html>